<% form album, { action: form_action, enctype: "multipart/form-data" }, labeler: :explicit do |f| %>
  <%= f.input :hidden, name: "_method", value: form_method, obj: nil %> <%# # used in tandem with Rack::MethodOverride to enable PUT requests %>

  <div class="form-group">
    <%= f.input :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :cover_photo, type: :hidden, value: album.cached_cover_photo_data, id: "album-cover-photo-upload-result" %>
    <%= f.input :cover_photo, type: :file, attr: { accept: ImageUploader::ALLOWED_TYPES.join(",") }, data: { upload_server: upload_server, preview_element: "preview-cover-photo", upload_result_element: "album-cover-photo-upload-result" }, dasherize_data: true %>
  </div>

  <div class="image-preview">
    <img src="<%= album.cover_photo_url(:thumbnail) %>" width=300 class="img-thumbnail file-upload-preview" id="preview-cover-photo" \>
  </div>

  <div class="form-group">
    <%= f.input :photos, type: :file, attr: { multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(",") }, label: "Select photos", data: { template: "template-photo", upload_list: "album-photo-list", upload_server: upload_server }, dasherize_data: true %>
  </div>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <% f.subform :photos, legend: nil do %>
      <%= partial("albums/photo", locals: { f: f }) %>
    <% end %>
  </ul>

  <input type="submit" value="Save" class="btn btn-primary" \>
  <a href="<%= albums_path %>" class="btn btn-default">&larr; Back to albums</a>
<% end %>
