<% form album, { action: form_action, method: "post", enctype: "multipart/form-data" }, labeler: :explicit do |f| %>
  <input type="hidden" name="_method" value="<%= form_method %>" \> <%# needed for PUT and DELETE requests %>
  <%= csrf_tag %>

  <div class="form-group">
    <%= f.input :name %>
  </div>

  <div class="form-group">
    <%= f.input :cover_photo, type: :hidden, value: album.cached_cover_photo_data, id: "album-cover-photo-upload-result", label: nil %>
    <%= f.input :cover_photo, type: :file, value: nil, accept: ImageUploader::ALLOWED_TYPES.join(","), data: { "upload-server": upload_server, "preview-element": "preview-cover-photo", "upload-result-element": "album-cover-photo-upload-result" } %>
  </div>

  <div class="image-preview">
    <img src="<%= album.cover_photo_url(:thumbnail) %>" width=300 class="img-thumbnail file-upload-preview" id="preview-cover-photo" \>
  </div>

  <div class="form-group">
    <%= f.input :photos, type: :file, name: "files[]", attr: { multiple: true }, label: "Select photos", accept: ImageUploader::ALLOWED_TYPES.join(","), data: { "template": "template-photo", "upload-list": "album-photo-list", "upload-server": upload_server } %>
  </div>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <% album.photos.each_with_index do |photo, idx| %>
      <%= partial("albums/photo", locals: { photo: photo, idx: idx }) %>
    <% end %>
  </ul>

  <input type="submit" value="Save" class="btn btn-primary" \>
  <a href="<%= albums_path %>" class="btn btn-default">&larr; Back to albums</a>
<% end %>
