<% form album, { action: form_action, method: "post", enctype: "multipart/form-data" }, labeler: :explicit do |f| %>
  <%= f.input :hidden, name: "_method", value: form_method, obj: nil %> <%# # used in tandem with Rack::MethodOverride to enable PUT requests %>

  <div class="form-group">
    <%= f.input :name %>
  </div>

  <div class="form-group">
    <%= f.input :cover_photo, type: :hidden, value: album.cached_cover_photo_data, id: "album-cover-photo-upload-result", label: nil %>
    <%= f.input :cover_photo, type: :file, attr: { accept: ImageUploader::ALLOWED_TYPES.join(",") }, data: { "upload-server": upload_server, "preview-element": "preview-cover-photo", "upload-result-element": "album-cover-photo-upload-result" }, value: nil %>
  </div>

  <div class="image-preview">
    <img src="<%= album.cover_photo_url(:thumbnail) %>" width=300 class="img-thumbnail file-upload-preview" id="preview-cover-photo" \>
  </div>

  <div class="form-group">
    <%= f.input :photos, type: :file, attr: { multiple: true, accept: ImageUploader::ALLOWED_TYPES.join(",") }, label: "Select photos", data: { "template": "template-photo", "upload-list": "album-photo-list", "upload-server": upload_server }, value: nil %>
  </div>

  <ul class="list-unstyled file-upload-list" id="album-photo-list">
    <% f.subform :photos, legend: nil do %>
      <%= partial("albums/photo", locals: { f: f }) %>
    <% end %>
  </ul>

  <input type="submit" value="Save" class="btn btn-primary" \>
  <a href="<%= albums_path %>" class="btn btn-default">&larr; Back to albums</a>
<% end %>
