<% f = Forme::Form.new({}, namespace: "album[photos_attributes][#{idx}]", labeler: :explicit, label: nil) %>

<li class="album-photo">
  <div class="media">
    <div class="media-left">
      <img src="<%= photo.image_url(:thumbnail) %>" width=150 class="img-thumbnail file-upload-preview media-object" id="album-photo-preview-<%= idx %>" />
    </div>
    <div class="media-body">
      <div class="form-group">
        <%= f.input :hidden, key: :image, value: photo.cached_image_data, id: "album-photo-upload-result-#{idx}" %>
        <%= f.input :file, key: :image, id: "album-photo-field-#{idx}", accept: ImageUploader::ALLOWED_TYPES.join(","), data: { "preview-element": "album-photo-preview-#{idx}", "upload-result-element": "album-photo-upload-result-#{idx}", "upload-server": upload_server } %>
      </div>
      <div class="form-group">
        <%= f.input :text, key: :title, label: "Title", value: photo.title, id: "album-photo-title-field-#{idx}" %>
      </div>
      <% if photo.id %>
        <%= f.input :hidden, key: :id, value: photo.id %>
        Remove photo: <%= f.input :checkbox, key: :_delete, value: true %>
      <% end %>
    </div>
  </div>
</li>
